<%- include('head.ejs') %>

<body oncontextmenu="return false";>
<div>
    <div class="overflow-x-hidden">

      
    <!-- NAVBAR -->
    <%- include('navbar.ejs') %> 

         <!--HEADER (Path)-->
        <div class="flex flex-col mt-20  md:flex-row md:justify-between">
            <div class="flex ml-3 mt-3 items-center">
            </div>
          </div>

          <img class="-mt-10 w-full" src="https://i.postimg.cc/52ybtd8w/image-2024-08-20-203004544.png" alt="Background Image"> 
 
    
        <div class="container pb-1 mx-auto mt-4">
            <!-- MAIN CONTENT-->
            <div class="md:flex">

                <!--SIDE BAR // ABOUT
            <div class="md:w-1/4">
              <div class="hidden md:block glass-bg ">
                  <%- include('sidebar.ejs') %>
                </div>
            </div>



          <!--Main content // ABOUT-->
          <div class="w-full glass-bg ">
            <div class="p-3 pt-4">

              <div class="flex items-center justify-between border-b select-none mt-2">
              </div>

              <div class="content flex -mt-1">
                  <div class="font-semibold text-4xl mt-1 ml-4"> Tailwind CSS Navbar Library </div>
              </div>

              
              <div class="flex items-center justify-between border-b select-none mt-1">
              </div>

              <div class="mb-2">
                <p class="text-sms mx-3 mb-8 mt-5">
                  This component can be utilized to create a navigation menu. Within this component, you'll find a range of different variations and configurations that can be tailored to fit various applications. Whether you need a simple menu or a more complex structure, this component offers the flexibility to meet your specific requirements. 
                 </p>
                 </div> 

                 <div class="flex items-center justify-between border-b select-none mb-2">
                </div>

                <div class="mb-2">
                  <p class="text-sms mx-3 mb-8 mt-5">
                    This component can be utilized to create a comprehensive navigation menu. Within this component, you'll find a range of different variations and configurations that can be tailored to fit various applications. Whether you need a simple menu or a more complex structure, this component offers the flexibility to meet your specific requirements. 
                   </p>
                   </div> 
  
                   <div class="flex items-center justify-between border-b select-none mb-2">
                  </div>
           
              <div class="font-light text-lg pl-4 mt-1 pb-1">Displaying <%= components.length %> results. 
                <a class="z-0 cursor-pointer text-lg underline float-right" onClick="window.location.reload();"> Reload Results
                <svg xmlns="http://www.w3.org/2000/svg" width="18.5" height="18.5" fill="currentColor" class="mt-1 mr-1 float-left bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                </svg>
              </a> 
              
              </div>


                <div class="flex items-center justify-between border-b select-none mt-1">
                </div>

              <%- include('pagination.ejs') %>

              
            </div>
          </div>



          </div>
        </div>

    <!--Footer (Path) -->
    <%- include('footer.ejs') %>
    </div>
</div>
</body>
</html>