<div class="container">
    <div class="row">
        <% for (var i = 0; i < empleos.length; i++) { %>
            <table id="<%= empleos[i].original_id %>" class="rounded-xl w-full text-sm text-left ml-4 mt-5 mb-2">
                <tr class="font-semibold grid grid-cols-1 list-inside">
                    <th class="content flex">
                        <a class="font-semibold text-2xl my-auto ml-2 mb-2 whitespace-nowrap w-full"><%= empleos[i].name %> </a>
                    </th>

                    <th class="content flex">
                        <a class="font-semibold text-xl my-auto ml-2 mb-2 whitespace-nowrap w-full"> <span class="font-bold"> Sucursal: </span> <%= empleos[i].sucursal %> </a>
                    </th>

                    <th>
                        <!-- Appearance -->
                        <ul class="grid grid-cols-1 gap-0 font-normal mb-2 ml-1">

                            <li class="ml-6 text-lg mb-6 list-none">
                                <p class="mt-1 text-md font-thin mr-12"><span class="font-semibold"><%= empleos[i].name %></span> <%= empleos[i].info.about %></p>
                            </li>

                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"> <span class="font-bold"> Descripción: </span>  <%= empleos[i].info.desc %></p>
                            </li>

                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"> <span class="font-bold"> Requerimientos: </span>  <%= empleos[i].info.reqs %></p>
                            </li>

                            <p class="font-bold text-xl my-auto ml-2 mb-2 whitespace-nowrap w-full"> Tareas: </p> 

                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"><%= empleos[i].tareas.t1 %></p>
                            </li>
                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"><%= empleos[i].tareas.t2 %></p>
                            </li>
                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"><%= empleos[i].tareas.t3 %></p>
                            </li>
                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"><%= empleos[i].tareas.t4 %></p>
                            </li>
                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"><%= empleos[i].tareas.t5 %></p>
                            </li>

                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin mr-12"> <span class="font-bold"> Descripción: </span>  <%= empleos[i].aplicacion %></p>
                            </li>
                            
                        </ul>
                        <div class="flex items-center justify-between px-10 mt-6 border-b select-none md:mt-4"></div>
                    </th>
                </tr>
            </table>
        <% } %>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>


                                    

                          
                      